.seat-map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  &__header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 16px;
    margin-left: 80px;
  }

  &__column-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    width: 40px;
    height: 20px;
  }

  &__rows {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__row-label {
    font-size: 16px;
    color: #fff;
    width: 60px;
    text-align: right;
  }

  &__seats {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 16px;
  }
}
