.cinemas-page {
  padding: 40px;
  background-color: #000;
  color: #fff;

  &__loading,
  &__error {
    text-align: center;
    font-size: 18px;
    padding: 40px;
  }

  &__error {
    color: #ff4444;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
    gap: 40px;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: normal;
    align-items: center;
  }

  &__header-cinema {
    text-align: left;
  }

  &__header-address {
    text-align: left;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}
