.movie-detail-page {
  padding: 40px;
  background-color: #000;
  color: #fff;

  &__loading,
  &__error {
    text-align: center;
    font-size: 18px;
    padding: 40px;
  }

  &__error {
    color: #ff4444;
  }

  &__title {
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 40px;
    text-align: center;
  }

  &__content {
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
  }

  &__poster {
    width: 300px;
    height: 450px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    flex-shrink: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #fff;
  }

  &__meta {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
    
    div {
      color: #fff;
    }
  }
}
