.cinema-card {
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
  gap: 40px;
  padding: 30px 0;
  border-bottom: 1px solid #333;
  align-items: center;
  min-height: 80px;

  &__name {
    font-size: 18px;
    color: #fff;
    line-height: 1.3;
  }

  &__address {
    font-size: 18px;
    color: #fff;
    line-height: 1.3;
  }

  &__actions {
    display: flex;
    justify-content: center;
    
    a {
      text-decoration: none;
    }
  }
}
