.movie-card {
  display: grid;
  grid-template-columns: 200px 1fr 200px 200px 200px;
  gap: 40px;
  padding: 30px 0;
  border-bottom: 1px solid #333;
  align-items: center;
  min-height: 120px;

  &__poster {
    width: 120px;
    height: 180px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #666;
  }

  &__title {
    font-size: 18px;
    color: #fff;
    line-height: 1.3;
  }

  &__duration {
    font-size: 18px;
    color: #fff;
    text-align: center;
  }

  &__rating {
    font-size: 18px;
    color: #fff;
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: center;
    
    a {
      text-decoration: none;
    }
  }
}