.sidebar {
  width: 280px;
  background-color: #000;
  border-right: 1px solid #fff;
  padding: 0;

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: block;
    padding: 20px 30px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: background-color 0.2s;
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 16px;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &--active {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &--button {
      font-family: inherit;
    }
  }
}
